type vendor_fod_elytra, domain, coredomain;
type vendor_fod_elytra_exec, system_file_type, exec_type, file_type;

hal_server_domain(vendor_fod_elytra,vendor_fod);
hal_attribute_hwservice(vendor_fod, vendor_fod_hwservice);

# Allow for transition from init domain to FOD.
init_daemon_domain(vendor_fod_elytra);

# Allow binder communication with platform applications, servicemanager & system server.
binder_call(system_server, vendor_fod_elytra)
binder_call(vendor_fod_elytra, platform_app)
binder_use(vendor_fod_elytra)
